/* Navigation */

.navbar-default
.navbar-toggle {
    border-color: #373737;
}
.navbar {
	margin-bottom: 0px;
	background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #dcd0c0;
}
.navbar-default .navbar-brand {
	color: #c0b283;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #373737;
}

.navbar-default,
.navbar-nav>li>a,
.link {
	color: #c0b283;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #c0b283;
    background-color: #f4f4f4;
}

.navbar-default .navbar-nav>li>a {
	color: #c0b283;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #373737;
}

/* Jumbotron and Content */
.jumbotron {
	background:url("../img/jumbotron.jpg");
	background-size: cover;
	height: 600px;
}

#home h1 {
	margin-top: 175px;
	color: white;
	text-shadow: 2px 2px 2px black;
}

#home h2 {
	color: white;
	text-shadow: 2px 2px 2px black;
}

hr {
	text-shadow: 2px 2px 2px black;
}



/*Buttons*/

button a{
	color:white;

}

.btn-primary{
	background-color: #c0b283;
	border-color: #373737;
}

.btn-primary:hover,
a:hover{
	background-color:#736843;
	border-color: #373737;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
	background-color:#736843;
	border-color:#373737;
}

.btn-primary.focus,
.btn-primary:focus {
	background-color:#736843;

}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
	background-color: #736843;
	color:#373737;
	border-color: #373737;
}

/* General */
#me {
	height: 250px;
	width: 250px;

}

.center{
	text-align:center;
	margin:auto;

	}

/*About Me*/

.aboutme{
	min-height: 500px;
	height: auto;
	padding-top: 50px;
	background-color: #f4f4f4;
}
.aboutme {
	color: #c0b283;

}
.aboutme h1{
	padding-bottom: 10px;
}


.about{
	padding-bottom:40px;
	font-size: 1.75em;
}

blockquote{
	border-left: 5px solid #dcd0c0;
	color:#373737;
	font-size: 1.50em;

 }

/*End of About Me */


/*Portfolio Showcase*/

.portfolio{
	height: auto;
	padding-top: 60px;
}

.portfolio h1 {

	padding-bottom: 10px;
	color: #c0b283;

}

.portfolio h3 {

	padding-bottom: 30px;
	color: #c0b283;


}

/*Contact*/

.contact {
	height: 200px;
	background-color: #f4f4f4;
}

.contact h2 {

	padding: 20px 0 10px 0;
}

/*Media Queries*/

@media (max-width:991px) {

.quote{
 padding-bottom: 20px;

}

.aboutme img {
	align-content: flex-start;
	display: block;
	margin-left: auto;
	margin-right: auto;
  padding-bottom: 20px;

}

.about {
	display: block;
}



}
